<div class="col-lg-12" class="app-relative">
    <div class="app-t-course-topic-item">
        <a href="#" id="edit" class="field-label btn btn-sm">   
            <i class="fa fa-edit">
                
            </i>
        </a>
        <a href="#" id="trash" class="field-label btn btn-sm">   
            <i class="fa fa-trash-o">
                
            </i>
        </a>
        <a href="#" id="save" class="field-value btn btn-sm">   
            <i class="fa fa-save">
                
            </i>
        </a>
    </div>
    <div class="col-lg-12">
        <h3 class="field-label">Lesson 5: Matrices</h3>
        <input class="field-value" />
    </div>
    <div class="col-lg-12">
        <p  class="field-label">Transform representation and how to fully control these</p>
        <textarea class="field-value">
            
        </textarea>
    </div>
    
</div>