{% extends "tbase.html" %}
{% load i18n  %}
{% block title %}dashboard{% endblock %}

{% block custom-header %}
{% include "thome/header-in.html" %}
{% endblock %}

{% block content %}
<div id="app_teacher_menu_container" class="hidden">
    <div id="app_teacher_menu">
        <!-- services -->
        <div class="center-block row">
            <!-- Features contents -->
            <div class="row col-lg-12">
                <div class="col-xs-3 col-sm-3 text-center nav" id="dashboard_nav">
                    <a href="dashboard"> <span> <i class="fa fa-gears"> </i> <span class="text-center  visible-lg"> <h6>{% trans "dashboard" %}</h6> </span> </span> </a>
                </div>
                <!-- groups -->
                <div class="col-xs-3 col-sm-3 text-center nav" id="courses_nav">
                    <a href="course/list"> <span> <i class="fa fa-suitcase"> </i> <span class="text-center  visible-lg"> <h6>{% trans "courses" %}</h6> </span> </span> </a>
                </div>
                <!-- Collaborateur -->
                <div class="col-xs-3 col-sm-3 text-center nav" id="collaboration_nav">
                    <a href="collaboration"> <span> <i class="fa fa-users"> </i> <span class="text-center  visible-lg"> <h6>{% trans "collaborators" %}</h6> </span> </span> </a>
                </div>
                <!-- statistics -->
                <div class="col-xs-3 col-sm-3 text-center nav"  id="inbox_nav">
                    <a href="inbox"> <span> <i class="fa fa-envelope"> </i> <span class="text-center  visible-lg"> <h6>{% trans "inbox" %}</h6> </span> </span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main_region">

</div>
{% endblock %}
<!-- bock endscripts -->
{% block endscripts %}

{% endblock %}
