<div class="panel-footer">
    <div class="row">
        <div class="col-md-6">
            <h6> <%= MMC.tr('Total')%> <span id="list_count" class="label label-info"><span id="page_index"><%=index%></span>/<%=pagecount%></span></h6>
        </div>
        <div class="col-md-6">
            <ul id="page_navigation" class="pagination pagination-sm pull-right" style="display: none">
                <li class="disabled" id="previous">
                    <a href="javascript:void(0)">«</a>
                </li>
                <li id="next">
                    <a  href="javascript:void(0)">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>