<div class="body-parts clearfix" data-css="body-teacher">
    <!-- About -->
    <div class="app-welcome-row app-welcome-board col-lg-offset-1 col-lg-10 clearfix">
        <div class="col-lg-12 text-center">
            <font face="Bradley hand ITC">
             <p>    
             ميم، مدرستك بين يديك
             </p>
             </font>
        </div>
    </div>
    <!-- Features Title -->
    <div class="col-lg-12">
        <div class="col-lg-12 pull-right">
            <h1 class="page-header">اكتشف</h1>
            <h3><span>  ميم ، المكان الذي يمكنك من متابعة الدروس متى و اينما كنت، نظم دروسك و فروضك المنزلية </span></h3>
        </div>
    </div>
    <div class="row col-lg-12 center-block">
        <!-- Features -->
        <div class="col-lg-12  col-md-12 col-sm-12">
            <!-- learn -->
            <div class="col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
                <div class="col-lg-12  app-welcome-content center-block">
                    <a class="app-welcome-content-inner"> <i  id="app_learn"> </i> </a>
                </div>
            </div>
            <!-- classes -->
            <div  class="col-sm-4 col-md-4 col-lg-3 center-block">
                <div class="col-lg-12 app-welcome-content">
                    <div class="app-welcome-content-inner ">
                        <i id="app_collaboration"> </i>
                    </div>
                </div>
            </div>
            <!-- Share -->
            <div  class="col-sm-4 col-md-4 col-lg-3 center-block">
                <div class="col-lg-12 app-welcome-content">
                    <div class="app-welcome-content-inner">
                        <img class="app-welcome-slide-img" id="app_features"  />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>