<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 side-menu" >
        <div class="list-group" id="app_chapter_menu">
            <a href="edit" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-home"></i> <span class="text-center  visible-lg-*"> <h6><%=MMC.tr('General')%></h6> </span> </a>
            <a href="video" class="list-group-item text-center side-menu-nav-item"> <i class="fa  fa-film"></i> <span class="text-center  visible-lg-*"> <h6><%=MMC.tr('Videos')%></h6> </span> </a>
            <a href="document" class="list-group-item text-center side-menu-nav-item"> <i class="fa  fa-file"></i> <span class="text-center  visible-lg-*"> <h6><%=MMC.tr('Documents')%></h6> </span> </a>
            <a href="quiz" class="list-group-item text-center side-menu-nav-item"> <i class="fa  fa-question-circle"></i> <span class="text-center  visible-lg-*"> <h6><%=MMC.tr('Quizzes')%></h6> </span> </a>
            
            <a href="task" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-tasks"></i> <span class="text-center  visible-lg-*"> <h6><%=MMC.tr('Tasks')%></h6> </span> </a>
            <!--
            <a href="forum" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-comments"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('Forum')%></h6> </span> </a>
            <a href="classroom" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-users"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('Students')%></h6> </span> </a>
            
            <a href="stats" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-bar-chart-o"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('Statistics')%></h6> </span> </a>
            <a href="tools" class="list-group-item text-center side-menu-nav-item nav-locked"> <i class="fa fa-gears"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('Tools')%></h6> </span> </a>
        -->
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
        <div  id="chapter_lab_region">

        </div>
    </div>
</div>