<div class="col-sm-4 col-md-4 team-details">
    <div class="team-image">
        <img src="http://www.gravatar.com/avatar/106?d=identicon&f=y" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
    </div>
    <div class="team-info-block">
        <div class="team-heading">
            <h6><%= user.username %></h6>
        </div>
        <div class="text-center col-lg-12">
            <ul class="team-navigation list-unstyled list-inline">
                <li>
                    <a  href="#email"> <i class="fa fa-envelope"></i> </a>
                </li>
                <li>
                    <a id="task" href="/teacher/collaboration/tasks/user/<%= id %>"> <i class="fa fa-calendar"></i> </a>
                </li>
            </ul>
        </div>
        <div class="text-center col-lg-12">
            <h2><small>teams</small></h2>
            <div id="team_list" class="text-center">
                
            </div>
        </div>
    </div>
</div>