<div class="tab-pane active" id="profile">
    <div class="app-profile-pic">
        <div class="change-pic-container">
            <div class="img-circle">
                <img class="img-circle pic" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                <div class="change-pic text-center app-hand">
                    <div class="app-profile-pic-upload">
                        <i class="fa fa-upload fa-2x"></i>
                    </div>

                    <div class="app-profile-pic-cam">
                        <i class="fa fa-camera fa-2x"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
</div>