<div class="panel panel-default app-thread">
    <div class="panel-heading">
        <span class="panel-title"><%= MMC.tr('Syllabus')%></span>
        <div class="btn-group btn-group-sm pull-left">
            <button class="btn btn-default add-new">
                <%= common.tr ('Add new step!') %> 
            </button>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group" id="list_view">

        </ul>
        <div class="text-center" id="list_empty" style="display: none">
            <h1><%= common.tr ('Welcome!') %> </h1>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3 col-xs-offset-3">
                <div class="app-course-media-box">
                    <div class="icon">
                        <div class="image">
                            <i class="fa fa-bars fa-2x"></i>
                        </div>
                        <div class="info">
                            <h2>Organize Your course</h2>
                            <p>
                                Syllabus
                                <%= MMC.tr('specify a link to your video or any other provider')%>
                            
                            </p>
                            </div>
                            
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</div>
