<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>عن ميم</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 app-about-us">
                <p> ميم يهدف للحد من الفجوة الرقمية داخل تونس </p>
                <p>!  فقط سجل الدخول وابدء التعلم الان </p>
            </div>
        </div>
    </div>
    <div class="back"></div>
</section>