<div class="form-group">
    <label>Titre *</label>
    <input size="60" maxlength="255"
    class="form-control field col-xs-12 write-arabic"
    name="Question[value]"
    placeholder="mettez la question"
    id="value" value="<%= value %>" type="text">
</div>
<div class="center-block col-lg-12">
    <div id="choices_list" class="row app-t-suggestion-list">

    </div>
    <div class="pull-right">
        <button id="new">
            Ajoutez un choix <i class="fa fa-plus-circle"></i>
        </button>
    </div>
</div>
