{% extends "tbase.html" %}
{% load i18n %}
{% load url from future %}
{% block extrahead %}
<script src="{{ STATIC_URL }}js/vender/require/require.js" data-main="{{ STATIC_URL }}t/js/common/main.js"></script>
{% endblock %}
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

{% if token_fail %}
{% url 'teacher_account_reset_password' as passwd_reset_url %}
<p>
    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
</p>
{% else %}
{% if form %}
<div class="col-md-12 col-lg-10 col-lg-offset-1 app-welcome-row clearfix center-block">
    <div class="jumbotron">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>


        <div class="row lead">
            <form method="POST" action="" class="form-inline">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-danger" name="action" value="{% trans "change password" %}"/>
            </form>
            {% else %}
            <p>
                {% trans 'Your password is now changed.' %}
            </p>
            {% endif %}
        </div>

    </div>
</div>
{% endif %}
{% endblock %}
