{% extends "tbase.html" %}

{% load i18n %}
{% block extrahead %}
<script src="{{ STATIC_URL }}js/vender/require/require.js" data-main="{{ STATIC_URL }}t/js/common/main.js"></script>
{% endblock %}
{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-md-12 col-lg-10 col-lg-offset-1 app-welcome-row clearfix center-block">
    <div class="jumbotron">
        <h1>{% trans "Password Reset" %}</h1>
        <div class="row lead">
            {% if user.is_authenticated %}
            {% include "taccount/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                <small> {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %} </small>
            </p>

            <form method="POST" action=""  class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email}}
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Reset Now">
                </div>
            </form>
            <div class="row-fluid">
                <p class="lead">
                    <strong>{% trans "Note" %}:</strong>
                    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>

            </div>

        </div>
    </div>
</div>
{% endblock %}
