<li>
    <div class="message-item" id="m5">
        <div class="message-inner">
            <div class="message-head">

                <div class="avatar pull-right">
                    <a href="./index.php?qa=user&amp;qa_1=one_eyed"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                </div>
                <div class="user-detail">
                    <div class="post-meta">
                        <div class="asker-meta">
                            <span class="qa-message-what"></span>
                            <span class="qa-message-who"> <span class="qa-message-who-pad">by </span> <span class="qa-message-who-data"><a href="./index.php?qa=user&amp;qa_1=one_eyed"><%=author.name%></a></span> </span>
                            <span class="qa-message-when"> <span class="qa-message-when-data"><%=submit_date%></span> </span>
                        </div>
                        <div class="btn-toolbar  inline">
                            <div class="btn-group">
                                <a href="#" class="btn btn-inverse disabled"><i class="fa fa-thumbs-o-up"></i></a>
                                <a href="#" class="btn btn-inverse disabled"><i class="fa fa-thumbs-o-down"></i></a>
                                <a href="#" class="btn btn-inverse disabled"><i class="fa fa-flag"></i></a>
                            </div>
                            <div class="btn-group">
                                <a href="#" class="btn btn-inverse disabled"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="qa-message-content">
                    <%=comment%>
                </div>

            </div>

        </div>
    </div>
</li>