@-ms-keyframes item-nav-hover {
  from {
   	background-color :  #0E90D2;
  }
  to {
    background-color : #007FB1;
  }
}
@-o-keyframes item-nav-hover {
  from {
   	background-color :  #0E90D2;
  }
  to {
    background-color : #007FB1;
  }
}
@-moz-keyframes item-nav-hover {
  from {
   	background-color :  #0E90D2;
  }
  to {
    background-color : #007FB1;
  }
}
@-webkit-keyframes item-nav-hover {
  from {
   	background-color :  #0E90D2;
  }
  to {
    background-color : #007FB1;
  }
}
@keyframes item-nav-hover {
  from {
   	background-color :  #0E90D2;
  }
  to {
    background-color : #007FB1;
  }
}
.nav-item  a{
	color: #FFFFFF !important;
}
.nav-item:hover a{
	color: #FFFFFF !important;
}
.nav-item-middle{
	margin-left: 2px;
	margin-right: 2px;
}
.nav-item:hover{
	-webkit-animation: item-nav-hover 5s linear;
     -moz-animation: item-nav-hover 5s linear;
      -ms-animation: item-nav-hover 5s linear;
       -o-animation: item-nav-hover 5s linear;
          animation: item-nav-hover 5s linear;
}
.nav-item.active{
	background-image:url('/static/img/icons/arrow-blue.png');
	background-repeat:no-repeat;
	background-position-x:0px;
	background-position-y:40px;
}
