<style>
	nav, .app-hover-list > li > ul, .app-t-course-item-header, .app-course-media-box > .icon:hover > .info > .more > a, a.side-menu-nav-item.active , div.bhoechie-tab-menu div.list-group > a.active .fa {
		background-color: #5FCAB5 !important;
		border-color: #5FCAB5 !important;
	}
	nav form > input:focus {
		border: solid 0px #5FCAB5 !important;
	}
	div.bhoechie-tab-menu ul.list-group li  > a .fa, div.bhoechie-tab-menu ul.list-group li  > a span *, #app_teacher_menu a {
		color: #5FCAB5;
	}
	div.bhoechie-tab-menu ul.list-group li > a.active, div.bhoechie-tab-menu ul.list-group li > a.active .fa {
		background-image: #5FCAB5;
	}
	.app-course-media-box > .icon > .image {
		background: #5FCAB5;
	}
	div.bhoechie-tab-menu a.list-group-item.active, 
	div.bhoechie-tab-menu a.list-group-item.active:hover, 
	div.bhoechie-tab-menu a.list-group-item.active:focus,
	#top_nav_items > ul > li > a.active {
		border-color: #5FCAB5;
	}
	#top_nav_items > ul > li > a > i {
		color: #5FCAB5;
	}
</style>
