<ul class="nav nav-stacked nav-pills navbar-collapse">
        <li  class="nav">
        	<a href="dashboard">
        		<i class="fa fa-gears"></i> <span>General</span>
    		</a>
        </li>
        <li  class="nav">
        	<a href="course">
        	<span>
        		<i class="fa fa-suitcase"></i> <span>Mes Cours</span>
					<button id="new_course" class="btn pull-right">
						<i class="fa fa-plus">
						</i>
					</button>
        	</span>
    		</a>
		</li>
		 <li class="nav">
        	<a href="classroom">
        	<span>
        		<i class="fa fa-group"></i>
        		<span>Collaborateur</span>
    		</span>
    		
			</a>
    	</li>
        <li class="nav">
        	<a href="document">
        		<span>
        			<i class="fa fa-file"></i>
        			<span>Documents</span>
        		</span>
    		</a>
    	</li>
    	<li class="nav">
        	<a href="tools">
        		<span class="text-danger">
        			<i class="fa fa-gears"></i>
        			<span>tools <small>(bientôt ...)</small></span>
        		</span>
    		</a>
    	</li>
    	<!-- href = "jouranl" -->
    	<li  class="nav">
    		<a href="journal">
        		<span>
        			<i class="fa fa-calendar"></i>
        			<span>Journal</span>
        		</span>
    		</a>
    	</li>
    		<!-- href = "taches" -->
    	<li>
        	<span class="btn" disabled="disabled"><i class="fa fa-tasks"></i>  <small>Tâches (bientôt ...)</small> </span>
    	</li>
    		<!-- href = "inbox" -->
    	<li>
        	<span class="btn" disabled="disabled"><i class="fa fa-inbox"></i> <small>Messagerie (bientôt ...)</small> </span>
    	</li>
    	
    </ul>