<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-arrow-right"></span>How is My Site? <a href="http://www.jquery2dotnet.com" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        Good </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        Excellent </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        Bed </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        Can Be Improved </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios">
                        No Comment </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-sm">
            save
        </button>
    </div>
</div>