<div class="col-sm-4 col-md-4 team-details">
    <div class="team-image">
        <img src="http://www.gravatar.com/avatar/106?d=identicon&f=y" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
    </div>
    <div class="team-info-block">
        <div class="team-heading">
            <h3><%= name %></h3>
            <span class="help-block"><h3><%= created_at %></h3></span>
        </div>
        <div class="text-center col-lg-12">
            <ul class="team-navigation list-unstyled list-inline">
                <li class="active">
                    <a  href="#information"> <i class="fa fa-user"></i> (<%= members_count %>)</a>
                </li>
                <li>
                    <a  href="#email"> <i class="fa fa-envelope"></i> </a>
                </li>
                <li>
                    <a href="#events"> <i class="fa fa-calendar"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</div>