<li>
    <time datetime="2014-07-31 1600">
        <span class="day">31</span>
        <span class="month">Jan</span>
        <span class="year">2014</span>
        <span class="time">4:00 PM</span>
    </time>
    <img alt="Disney Junior Live On Tour!" src="http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg">
    <div class="info">
        <h2 class="title">Disney Junior Live On Tour!</h2>
        <p class="desc">
            Pirate and Princess Adventure
        </p>
        <ul>
            <li style="width:33%;">
                $49.99 <span class="fa fa-male"></span>
            </li>
            <li style="width:34%;">
                $29.99 <span class="fa fa-child"></span>
            </li>
        </ul>
    </div>
    <div class="social">
        <ul>
            <li class="facebook" style="width:33%;">
                <a href="#facebook"><span class="fa fa-facebook"></span></a>
            </li>
            <li class="twitter" style="width:34%;">
                <a href="#twitter"><span class="fa fa-twitter"></span></a>
            </li>
            <li class="google-plus" style="width:33%;">
                <a href="#google-plus"><span class="fa fa-google-plus"></span></a>
            </li>
        </ul>
    </div>
</li>