<div id="app_course_snapshot" class="app-modal" style="display: none;width:400px">
    <div class="app-modal-title">
        <button id="play" class="btn btn-sm btn-warning" type="button">
            <i class="fa fa-camera"> </i>
        </button>
        <button id="stop" class="btn btn-sm btn-warning" type="button">
            <i class="fa fa-pause"> </i>
        </button>
        <span class="app-top-modal-close app-modal-close">x</span>
    </div>
    <div class="app-modal-body">
        <div id="camera_container">

        </div>
        <div class="app-relative" id="app_course_camera_progress_container">
            <div class="app-absolute" id="camera_progress_bg">
            </div>
            <span id="camera_progress" class="app-absolute">  </span>
        </div>
    </div>
    <div class="app-modal-footer">
        <div class="center-block">
            <button class="btn btn-sm btn-success pull-right app-modal-close" type="button">
                Enregistrer
            </button>
            <button class="btn btn-sm btn-default pull-right app-modal-close" type="button">
                Fermer
            </button>
        </div>

    </div>
</div>
