<div class="app-modal" style="display: none;width:400px">
    <div class="app-modal-title">
        <span class="text">
            documents 
            <i class="fa fa-file">
                
            </i>
            </span>
        <span class="app-top-modal-close app-modal-close">x</span>
    </div>
    <div class="app-modal-body">
       <div id="upload_file_container">
           <div class="row col-lg-12 col-md-12">
               <a id="upload_file_button" href="#" class="btn btn-default btn-small"> 
                <i class="fa fa-file">
                    
                </i>
                Ajouter documents <small>(pdf, doc(x)) </small>
            </a> 
           </div> 
           
            <div>
                <div style="display:none">
                    <input id="ytChapter_document" type="hidden" value="" name="Chapter[document]">
                    <input class="upload-file-hidden" width="500"
                    name="document" id="upload_file_source" type="file" multiple>                     
                </div>
            </div>
            <ul id="files_container" class="list-unstyled">
                
            </ul>
        </div>
    </div>
</div>
