<div class="col-lg-12">
    <div class="text-center">
            <button id="upload_video_button" class="app-t-course-upload">Attacher un video <h6><small>(mp4, flv), 2 min max</small></h6> 
                <i class="fa fa-film">
                    
                </i>
            </button>
            <button id="take_snapshot"  class="app-t-course-upload">Enregister <h6><small>(utilisez le webCam)</small></h6> 
                <i class="fa fa-camera">
                </i>
            </button>
        </div>
    
    <div id="video_buttons_add" class="col-lg-12">
       </div>
</div>