<div class="text-center">
    <form class="form-horizontal">
        <h2 class="form-signin-heading">Sign in</h2>

        <small class="text-muted">Connect [your service] with your favorite social network</small>
        <br>
        <br>
        <p>
            <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-primary social-login-btn social-twitter" href="/auth/yahoo"><i class="fa fa-yahoo"></i></a>
        </p>
        <p>
            <a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-primary social-login-btn social-google" href="/auth/google"><i class="fa fa-google-plus"></i></a>
        </p>
    </form>
</div>
