<form class="form-horizontal" role="form">
    <fieldset>

        <!-- Form Name -->
        <legend>
            Address Details
        </legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" tr-value="Country"></label>
            <div class="col-sm-10">
                <input type="text" placeholder="Country" class="form-control">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" tr-value="City"></label>
            <div class="col-sm-10">
                <input type="text" placeholder="City" class="form-control">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" tr-value="Region"></label>
            <div class="col-sm-4">
                <input type="text" placeholder="Region" class="form-control">
            </div>

            <label class="col-sm-2 control-label" for="textinput" tr-value="Postcode"></label>
            <div class="col-sm-4">
                <input type="text" placeholder="Post Code" class="form-control">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" tr-value="FullAddress"></label>
            <div class="col-sm-10">
                <input type="text" placeholder="Full Address" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <button type="submit" class="btn btn-default">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>

    </fieldset>
</form>