<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 side-menu" >
    <div class="list-group" id="app_collaboration_menu">
        <a href="pa" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-home"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('general')%></h6> </span> </a>
        <a href="emails" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-envelope-o"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('emails')%></h6> </span> </a>
        <a href="password" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-gavel"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('password')%></h6> </span> </a>
        <a href="notifications" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-bell-o"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('notifications')%></h6> </span> </a>
        <a href="accounts" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-chain"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('accounts')%></h6> </span> </a>
        <a href="billings" class="list-group-item text-center side-menu-nav-item"> <i class="fa fa-money"></i> <span class="text-center  visible-lg"> <h6><%=MMC.tr('pro services')%></h6> </span> </a>
    </div>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
    <!-- flight section -->
    <div class="bhoechie-tab-content active" id="settings_main_region">

    </div>
</div>