<div class="col-xs-12 col-sm-4 list-group-item">
    <div class="col-xs-12 col-sm-3">
        <img src="http://api.randomuser.me/portraits/men/<%= id %>.jpg" alt="Jean Myers" class="img-responsive img-circle" />
    </div>
    <div class="col-xs-12 col-sm-9">
        <span class="name"><%= username %></span>
        <br/>
        <span class="fa fa-map-marker" title="4949 W Dallas St"></span>
        <span class="fa fa-bar-chart-o app-hand" data-toggle="tooltip" title="parcours"></span>
        <span class="fa fa-question app-hand" data-toggle="tooltip" title="(477) 792-2822"></span>
        <span class="fa fa-inbox app-hand" data-toggle="tooltip" title="<%= email %>"></span>
    </div>
    <div class="clearfix"></div>
</div>