<div class="app-modal-title">
            <%= title %>
        <span class="app-modal-close">x</span>
    </div>
    <div class="app-modal-body">
        <div id="course_statistics_graph">
            
        </div>
    </div>
    <div class="app-modal-footer">
        <div class="btn-group">
          <a href="#" class="btn">
              <button id="weekly" class="btn btn-default btn-sm">
                  Monthly
              </button>
          </a>
          <a href="#" class="btn">
              <button id="monthly" class="btn btn-default btn-sm">
                  monthly
              </button>
          </a>
          <a href="#" class="btn">
              <button id="daily" class="btn btn-default btn-sm">
                  daily
              </button>
          </a>
      </div>
    </div>