.app-modal-bg{
	position:absolute;
	z-index:10000;
	top:0px;
	left:0px;
	width:100%;
	opacity : 0.7;
	filter : 'alpha(opacity = 70)';
}
.app-modal-close:hover{
	color: red !important;
}
.app-modal-error {
	background-color: #FFFFFF;
	color: red;
}
.app-modal{
	z-index:20001;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	background-color: #FFFFFF;
	border : solid 3px #CCCCCC;
	box-shadow: #ffc;
	min-width: 380px;
}
.app-top-modal-close{
	position: absolute;
	top:9px;
	right: 10px;
	cursor: pointer;
}
.app-modal-empty{
	padding: 13px;
	border-radius : 4px;
	background-color: #39A9E0;
	width: 150px;
}
.app-modal-title{
	border-bottom: solid 2px #999999;
	background-color: #222222;
	position: relative;
	width: 100%;
	padding: 10px;
	color: #FFFFFF;
}
.app-modal-title span{
	color: #FFFFFF;
}
.app-modal-title select{
	color: #000000;
}
.app-modal-footer{
	padding: 10px;
	width: 100%
}
.app-modal-body{
	padding:10px;
	text-align: left;
	max-height: 500px;
}