<div class="row">
    <div class="col-xs-2 col-md-1">
        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
    </div>
    <div class="col-xs-10 col-md-11">
        <div>
            <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html"> my test </a>
            <div class="mic-info">
                By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
            </div>
        </div>
        <div class="comment-text">
            my test
        </div>
        <div class="action">
            <button type="button" class="btn btn-primary btn-xs" title="comment">
                <span class="fa fa-pencil" id="comment"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs" title="flag">
                <span class="fa fa-flag"></span>
            </button>
            <button type="button" class="btn btn-success btn-xs" title="Approved">
                <span class="fa fa-plus"></span>
            </button>
            <button type="button" class="btn btn-danger btn-xs" title="Up vote">
                <span class="fa fa-minus"></span>
            </button>
        </div>
        <div id="editor_container">

        </div>
        <div class="app-forum-thread-children" id="children">

        </div>
    </div>
</div>