@import url(common/errors.css);
@import url(common/content.css);
@import url(common/comment.css);
@import url(common/arabic.board.css);
@import url(common/autocomplete.css);
@import url(common/modal.css);
@import url(common/alert.css);
@import url(common/fullcalendar.css);
@import url(bootstrap.min.css);
@import url(common/datetimepicker.css);
@import url(font-awesome/css/font-awesome.css);

.app-hand {
	cursor: pointer ;
}
.btn {
	border-radius: 0px !important;
}

.app-loading {
	background: url(img/anim.gif) no-repeat center center;
	width: 100%;
	min-height: 150px;
}
