{% extends "tbase.html" %}
{% load i18n %}

{% block head_title %}{% trans "suppression du cours" %}{% endblock %}

{% block custom-header %}
{% include "thome/header-in.html" %}
{% endblock %}

{% block content %}
<h2>{% trans "Confirmation de suppression du cours" %}  {{title}}</h2>
<form class="form-horizontal col-lg-6 col-lg-offset-3 col-sm-10 col-xs-12" role="form" method="POST" 
    action="{{url}}" >
    {% csrf_token %}
    <input type="hidden" class="form-control" name="course"  value="{{id}}"/>
    <div class="form-group">
        <!-- Username -->
        <label class="control-label"  for="password">{% trans "Password" %}</label>
        <div class="controls">
            {{ form.password.errors }}
            <input type="password" class="form-control" name="password" placeholder='{% trans "Password" %}'/>
        </div>
    </div>
    <div class="form-group">
        <!-- Button -->
        <div class="controls">
            <button type="submit" class="btn btn-danger">
                {% trans "Delete" %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
