<div class="container app-not-found">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1><%=common.tr ('OOOPS !')%> </h1>
                <h2> <%=common.tr ('404 not found')%> </h2>
                <div class="error-details">
                    <%=common.tr ('Sorry, an error has occured, Requested page not found!')%>
                </div>
                <div class="error-actions">
                    <a href="/#"  id="home" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> <%=common.tr ('Take Me Home')%> </a>
                    <a href="/company/contact" id="contact_us" class="btn btn-default btn-lg"><span class="fa fa-envelope"></span> <%=common.tr ('Contact Us')%> </a>
                </div>
            </div>
        </div>
    </div>
</div>