<div class="col-lg-8 course-view">
    <h2><%= title %></h2>
    <img src="<%= __CONFIG__.STATIC_URL %>img/products/submarine.png" class="img-responsive img-centered" alt="">
    <p>
        الدماغ البشري يوجد ضمن الجمجمة، وهو العضو الذي يتحكم في بالجهاز العصبي المركزي للإنسان، عن طريق الأعصاب القحفية والنخاع الشوكي، وأخيرا الجهاز العصبي المحيطي، وبهذا يكون عمليا المنظم لجميع فعاليات الإنسان تقريبا. [1] الأفعال البشرية اللاإرادية أو ما يدعى الأفعال "الدنيا"، مثل سرعة القلب، التنفس، والهضم، فيتم التحكم بها عن طريق الدماغ لاشعورياً
        . بشكل خاص عن طريق الجهاز العصبي التلقائي. أما الفعاليات العقلية "العليا" أو المعقدة مثل التفكير أو الاستنتاج reason والتجريد [2] فيتم التحكم بها بشكل واع إرادي. تشريحيا يتم تقسيم الدماغ إلى ثلاثة أجزاء : الدماغ الأمامي، الدماغ المتوسط والدماغ الخلفي;[3] يتضمن الدماغ الأمامي عدة فصوص lobes من القشرة المخية التي تتحكم في الوظائف العليا، في حين يتدخل الدماغ المتوسط والخلفي في الوظائف التلقائية أو اللاشعورية.

    </p>
    <ul class="list-inline item-details">
        <li>
            <strong>Web Development</strong> : المادة
        </li>
        <li>
            <strong><a href="http://startbootstrap.com">April 2014</a></strong> : بداية الدرس
        </li>
        <li>
            <strong>A, B, C</strong> : الأساتذة
        </li>
    </ul>

    <h2>الفصول</h2>
    <div class="faces clearfix">
        <div class="faces-group active" id="chapter_list">

        </div>
    </div>

</div>
<div class="col-lg-4  course-view">
    <div id="students" class="row-fluid">
        <div class="col-lg-12 clearfix">
            <h1 class="page-header"><strong>التلاميذ</strong></h1>
            <div>
                <div class="faces clearfix">
                    <div class="faces-group active" id="students_body">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>