<div id="open">
    <a><h4><strong> <%= common.truncateString (title, 20, '..') %> </strong> <i class="fa fa-eye fa-2x"></i></h4></a>
    <a href="#" target="_parent"> <img alt="image" class="img-responsive img-rounded pull-right" src="<%= cover %>"> </a><p>
        الدماغ البشري يوجد ضمن الجمجمة، وهو العضو الذي يتحكم في بالجهاز العصبي المركزي
    </p>
    <div class="clearfix"></div>
    <div style="text-align: right">
        <h5>
            <span>
                التقدم
            </span>
        </h5>
    </div>
    <div class="chapter-progress">
        <div class="chapter-progress-line" style="width: <%=progress%>%">

        </div>
    </div>
</div>
