{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Page not found{% endblock %}

{% block content %}
<div class="row" style="padding-bottom: 50px">
    <div class="col-lg-12">
        <div class="col-lg-6 center-block  text-center">
            <h1 class="page-header text-center"> 404, OOOOOOOOOOOPS, nothing exist !! </h1>
        </div>
        
        <div class="col-lg-6 center-block text-center">
            <img class="img-responsive img-circle" src="{% static "img/empty.jpg" %}" alt="">
        </div>
        
    </div>
</div>

{% endblock %}
