<div class="col-sm-4 portfolio-item" id="item">
    <a  class="portfolio-link" data-toggle="modal">
        <div>
            <div class="pull-right">
            <%=title%>
            </div>
            <div class="pull-left">
                <ul class="list-unstyled list-inline">
                    <li>
                        <%=ccount%> <i class="fa fa-dribbble"></i>    
                    </li>
                    <li>
                        <%=scount%> <i class="fa fa-user"></i>        
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="caption">
            <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
            </div>
        </div>
        
        <img src="<%= __CONFIG__.STATIC_URL %>img/products/submarine.png" class="img-responsive" alt="" />
    </a>
</div>